@font-face {
  font-family: 'Public Sans';
  src: url('assets/fonts/PublicSans-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Merriweather';
  src: url('assets/fonts/Merriweather-VariableFont_opsz,wdth,wght.ttf') format('truetype');
}

@import 'tailwindcss';

@layer base {
  html {
    @apply font-public-sans;
  }
}

@theme {
  --font-public-sans: 'Public Sans', 'sans-serif';
  --font-merriweather: 'Merriweather', 'serif';

  --color-blue-100: #e8f5ff;
  --color-blue-300: #0076d6;
  --color-blue-500: #112f4e;

  --color-blue-cool-20: #adcfdc;
  --color-blue-cool-40: #6499af;
  --color-blue-cool-60: #2e6276;

  --color-gray-100: #fbfcfd;
  --color-gray-200: #f3f3f3;

  --color-red-300: #e41d3d;
}
