# IDE
.idea/
*.iml
/.vscode/settings.json

# macOS
.DS_Store

# Python-Virtual Environments
.venv

# ASDF
.tool-versions

# Local Data Storage
__pycache__/
node_modules/
.npm/
.cache/
.local/

# Code coverage
**/coverage/
.coverage
coverage.xml

# Environment
**/.env
.env
*.env.json

# Tools
.requests

# Static files
dist
refined-ecr

# Local testing
.scratch

# Playwright
test-results/
playwright-report/
client/e2e/downloads/

# Structurizr
.structurizr/
