fhir.resources==8.2.0
httpx
pre-commit
pytest
pytest-asyncio
pytest-cov
python-dotenv
ruff==0.15.15
saxonche
testcontainers[compose]>=4.14.2
tqdm
mypy==2.1.0
lxml-stubs
types-Authlib
boto3-stubs
requests
rich
types-requests
