Authlib==1.6.5
boto3==1.40.59
chardet
fastapi>=0.109.1
httpx
lxml
psycopg[binary]
psycopg[pool]
pydantic-settings
pydantic>=2.0.0
python-multipart
requests
rich
uvicorn
itsdangerous
python-json-logger==4.0.0
