@forward 'uswds-theme';
@forward 'uswds';

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}


.drop-shadow-nav {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
}


// turn off default  styling in favor of DIBBs styles
.usa-modal__main,
.usa-modal__content {
  padding: 0 !important;
}
.usa-label,
.usa-select {
  margin: 0;
}
.usa-table td,
.usa-table th {
  border: none;
}

@media only screen and (max-width: 480px) {
  .Toastify__toast {
    margin-left: 1rem !important;
    margin-bottom: 2rem !important;
  }
}

.Toastify__toast-container {
  .Toastify__toast--success {
    background-color: var(--color-state-success);
  }

  .Toastify__toast--error {
    background-color: var(--color-state-error);
  }

  .Toastify__progress-bar--success {
    background-color: var(--color-state-success-lighter);
  }

  .Toastify__progress-bar--error {
    background-color: var(--color-state-error-lighter);
  }
}

.Toastify__toast-body {
  margin: 0 !important;

  div {
    height: 100%;
    border-radius: var(--toastify-toast-bd-radius);
  }

  .usa-alert__body::before {
    mask-size: 1.5rem 1.5rem !important;
    top: unset !important;
  }

  .usa-alert__body > * {
    margin-left: 2rem !important;
  }
}

.usa-tooltip__trigger {
  padding: 0 !important;
}

.usa-modal__content {
  padding: 2rem !important;
}
.usa-modal__close {
  margin: -2rem -2rem 0 auto;
}
