@forward 'uswds-theme';
@forward 'uswds';

[href]:focus:not(:focus-visible) {
  outline:none;
}

input:not([disabled]):focus,
select:not([disabled]):focus,
textarea:not([disabled]):focus,
button:not([disabled]):focus,
iframe:focus-visible,
[href]:focus-visible,
[tabindex]:focus-visible,
[contentEditable=true]:focus-visible {
  outline: 0.25rem solid var(--color-blue-cool-30);
  outline-offset: 2px;
}
