name: Docker build

on:
  workflow_call:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  app-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Test Refiner app build
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile.app
          push: false
          build-args: |
            VITE_GIT_HASH=${{ github.sha }}
            VITE_GIT_BRANCH=${{ github.ref_name }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
  lambda-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Test Refiner Lambda build
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile.lambda
          push: false
          cache-from: type=gha
          cache-to: type=gha,mode=max
  ops-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Test Refiner Ops build
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile.ops
          push: false
          cache-from: type=gha
          cache-to: type=gha,mode=max
