name: Run linter

on:
  workflow_call:
  workflow_dispatch:

env:
  PYTHON_RUNNER_VERSION: "3.14"

permissions:
  contents: read

jobs:
  run-python-linter:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup python ${{env.PYTHON_RUNNER_VERSION}}
        uses: actions/setup-python@v5
        with:
          python-version: ${{env.PYTHON_RUNNER_VERSION}}
          cache: pip
      - name: Install dependencies
        run: |
          pip install -U pip
          pip install ruff==0.14.13
      - name: Run linter (ruff)
        run: |
          ruff check --output-format=github .
      - name: Run formatter (ruff)
        run: |
          ruff format --check
  run-ts-linter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        working-directory: ./client
        run: |
          npm ci
      - name: Client linting check
        working-directory: ./client
        run: |
          npm run lint:check
      - name: Client formatting check
        working-directory: ./client
        run: |
          npm run fmt:check
