name: Run type checking

on:
  workflow_call:
  workflow_dispatch:

env:
  PYTHON_RUNNER_VERSION: "3.14"

permissions:
  contents: read

defaults:
  run:
    working-directory: ./refiner

jobs:
  run-python-type-checker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup python ${{env.PYTHON_RUNNER_VERSION}}
        uses: actions/setup-python@v5
        with:
          python-version: ${{env.PYTHON_RUNNER_VERSION}}
          cache: pip
      - name: Install dependencies
        run: |
          pip install -U pip
          pip install -r requirements-dev.txt -r app/lambda/requirements-dev.txt -r requirements.txt
      - name: Run mypy
        run: |
          mypy
